{% load static %}

<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha38">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://fontawesome.com/icons">

</head>
<body>
  <div class="wrapper">
    <nav>
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fa-solid fa-paw"></i></label>
      <div class="content">
        <div class="logo"><a href='/' class="image"> <img src="https://drive.google.com/uc?id=1LSxUx57jJTPDh1MRZK21zfeOKzmJVAk3" alt="" height="50px"> </a></div>
          <ul  class="links">
            {% if user.is_authenticated %}
            <li><a href="/profile/"><i class="fa-solid fa-circle-user"></i>&nbsp;&nbsp;{{ user.username }}</a></li>
            <li><a href="/cart/">MY CART</a></li>
            <li><a href="/about/">ABOUT BEAR</a></li>
            <li><a href="/logout">LOGOUT</a></li>
            {% else %}
            <li><a href="/accounts/login/">REGISTER/LOGIN</a></li>
            <li><a href="/profile/">MY ACCOUNT</a></li>
            {% endif %}  
          </ul>
      </div>
        <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
        <form action="#" class="search-box">
          <input type="text" placeholder="Type Something to Search..." required>
          <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
        </form>
    </nav>
  </div>
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia%22%3E">
    <link rel="stylesheet" href="fonts/thsarabunnew.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">

    <title>{% block title %} About BEAR {% endblock %}</title>
    <title>About BEAR</title>
    <link rel="icon" type="image/x-icon" href="https://cdn.discordapp.com/attachments/958395935422050317/971499997768077342/hnet.com-image.ico">
</head>
<body>
  <div class="row">
    <div class="logoB" >
      <img src="{% static 'images/logo/BBlogo.jpg' %}">
    </div>
    <div class="text">
      <div class="title">
        <h3>ABOUT BEAR</h3> 
      </div>
      <div class="des">
        <p> 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BEAR EVERYWHERE is the largest TEDDY BEAR import and export company in this industry.
        We have warehouses all over the country in every area like our company name.
        Our website has a variety of TEDDY BEARs in various sizes and styles for you to choose the one that suits you the most.
        We can assure you that when you order with us. The product will reach you within 24 hours.
        So you can experience the cuteness of the TEDDY BEAR as soon as possible.</p>
      </div>
    </div>  
  </div> 
</body>
</html>
