{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia%22%3E">
    <link rel="stylesheet" href="fonts/thsarabunnew.css" />
    <link href=”path/to/font-awesome/css/font-awesome.min.css” rel=”stylesheet” />

    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="https://cdn.discordapp.com/attachments/958395935422050317/971499997768077342/hnet.com-image.ico">
  </head>
<body>
  <div class="wrapper">
    <nav>
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fa-solid fa-paw"></i></label>
      <div class="content">
        <div class="logo"><a href='/' class="image"> <img src="https://drive.google.com/uc?id=1LSxUx57jJTPDh1MRZK21zfeOKzmJVAk3" alt="" height="50px"> </a></div>
        <ul  class="links">
          {% if user.is_authenticated %}
          <li><a href="/profile/"><i class="fa-solid fa-circle-user"></i>&nbsp;&nbsp;{{ user.username }}</a></li>
          <li><a href="/cart/">MY CART</a></li>
          <li><a href="/about/">ABOUT BEAR</a></li>
          <li><a href="logout">LOGOUT</a></li>
          {% else %}
          <li><a href="/accounts/login/">REGISTER/LOGIN</a></li>
          <li><a href="/profile/">MY ACCOUNT</a></li>
          {% endif %}
        </ul>
      </div>
      <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
      <form action="#" class="search-box">
        <input type="text" placeholder="Type Something to Search..." required>
        <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
      </form>
    </nav>
  </div>
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia%22%3E">
    <link rel="stylesheet" href="fonts/thsarabunnew.css" />
</head>

<body>
  <div class="home">
    <div class="flex-container">
      {% for i in object_list %}			
      <div class="card"><a href="http://127.0.0.1:8000/item/{{ forloop.counter }}"></a>
        <div class="imgBx">
          <a href="detail/{{i.id}}"><img src="{{i.image.url}}"></a>
        </div>     
        <div class="des">
          <h2>{{i.title}}</h2>
          <div class="card-text">{{i.description}}</div>
          <div class="price">{{i.unit_price}}$</div>
          <div class="ok">
            <form action="{% url 'add' %}" method="post">
              {% csrf_token %} 
              <input type="hidden" name="pk" value="{{i.pk}}">
              <input type="hidden" name="title" value="{{i.title}}">
              <input class="submit" type="submit" value="ADD TO CART"  >
            </form>
          </div>
        </div>        
      </div>
      {% endfor %}
    </div> 
    <div class="button">
      <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
    </div> 
  </div>
</body>
</html>

                    




